hangul-romanize==0.1.0
cutlet==0.5.0
# coqui-tts==0.25.3
deepspeed==0.14.4
numpy==1.26.4
numba==0.61.0
fastapi==0.115.8
uvicorn==0.34.0
fugashi[unidic-lite]
fugashi[unidic]
asgi-ratelimit==0.10.0
minio==7.2.15
python-dotenv==1.0.1
boto3==1.36.20
python-multipart==0.0.19
vinorm==2.0.7
underthesea==6.8.0
transformers==4.44.0
kokoro==0.8.4
jaconv==0.4.0
mojimoji==0.0.13
ordered_set==4.1.0
cn2an==0.5.23
proces==0.1.7
misaki==0.8.4
loguru==0.7.3
pypinyin==0.53.0
jieba==0.42.1
spacy==3.7.4